# Mysql connection information
store.url=jdbc:mysql://localhost/blurtools_development
store.user=root
store.password=

# ZooKeeper Instances
zk.instances=nic-blurtop

zk.nic-blurtop.url=nic-blurtop01.nearinfinity.com

# Active Collectors
active.collectors=hdfs|queries|tables

# HDFS Collector properties
hdfs.instances=blurtop

hdfs.thrift.blurtop.url=hdfs://nic-blurtop01.nearinfinity.com:50077
hdfs.blurtop.url=hdfs://nic-blurtop01.nearinfinity.com:9000

# Blur properties
blur.instances=nic-blurtop

blur.nic-blurtop.url=nic-blurtop01.nearinfinity.com:40010
