# Logging
log4j.properties=../etc/log4j.properties

# License Key
license.file=../license-maker/licenses/NIC-Testing/blur_tools_2011-10-01.lic

# Mysql connection information
store.url=jdbc:mysql://localhost/blurtools_development
store.user=root
store.password=

# ZooKeeper Instances
zk.instances=vm

zk.vm.url=10.192.56.10

# Active Collectors
active.collectors=hdfs|queries|tables

# HDFS Collector properties
hdfs.instances=vm

hdfs.thrift.vm.url=hdfs://10.192.56.10:40493
hdfs.vm.url=hdfs://10.192.56.10:9000

# Blur properties
blur.instances=vm

blur.vm.url=10.192.56.10:40010
