# Logging
log4j.properties=../etc/log4j.properties

# License Key
license.file=../license-maker/licenses/NIC-Testing/blur_tools_2012-09-11.lic

# Mysql connection information
store.url=jdbc:mysql://localhost/blurtools_development
store.user=root
store.password=

# ZooKeeper Instances
zk.instances=nic-blurtop

zk.nic-blurtop.url=nic-blurtop01.nearinfinity.com

# Active Collectors
active.collectors=hdfs|queries|tables

# HDFS Collector properties
hdfs.instances=blurtop

hdfs.blurtop.thrift.url=hdfs://nic-blurtop01.nearinfinity.com:55314
hdfs.blurtop.url=hdfs://nic-blurtop01.nearinfinity.com:54310
hdfs.blurtop.login.user=localadmin

# Blur properties
blur.instances=nic-blurtop

blur.nic-blurtop.url=
